.list {
	width: 100%;
	padding: var(--padding-sm) 0;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: var(--gap-sm);

	@media (min-width: 767px) {
		grid-template-columns: repeat(2, 1fr);
		gap: var(--gap-md);
		padding: var(--padding-md) 0;
	}

	@media (min-width: 1024px) {
		grid-template-columns: repeat(4, 1fr);
		gap: var(--gap-lg);
	}
}
