.header {
	.container {
		width: 100%;
		max-width: 1240px;
		margin: 0 auto;
		padding: 0 2rem;
	}
	box-shadow: var(--shadow);
	background-color: (--colors-ui-base);
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2rem 0;
	}
	&__title {
		color: var(--colors-text);
		font-size: var(--fs-sm);
		text-decoration: none;
		font-weight: var(--fw-bold);
	}
	&__switcher {
		color: var(--colors-text);
		font-size: var(--fs-sm);
		cursor: pointer;
		font-weight: var(--fw-bold);
		text-transform: capitalize;
		span {
			margin-left: 0.75rem;
		}
	}
	a {
		color: var(--colors-text);
		font-size: var(--fs-sm);
		text-decoration: none;
		font-weight: var(--fw-bold);
	}
}
